# Data
data/out/
notebooks/data/nl/nl_district_neighbors/
notebooks/output/
notebooks/.idea/
# Python
__pycache__/
*.pyc

# Images
*.png
*.jpg
*.pdf

# Gurobi logs
*.log

# Gurobi models
*.lp

# IDE
.vscode/
.idea/

# IPython
.ipynb_checkpoints/
